@{
    ViewData["Title"] = "Decimal Now";
}

<h1>Decimal time NOW</h1>
<p>For those of us who want <a href="https://en.wikipedia.org/wiki/Decimal_time" target="_blank">decimal time</a></p>
<p>10 hours in a day, each hour has 100 minutes, each minute has 100 seconds</p>
<h2 class="text-center">Decimal Time Now:</h2>
<h2 class="text-center" id="decimalNow"></h2>

<p class="small">Stay tuned - date converter coming soon</p>