<div class='container-fluid'>
    <div class='row'>
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer>
        <p>&copy; 2018 | 
        A <a href="http://www.raph.ws/" target="_blank">Raphael Haddad</a> project | 
            <a href="https://twitter.com/RaphHaddadAus" target="_blank">Bugs or suggestions?</a> |
        Source on <a href="https://github.com/RaphHaddad/DecimalNow" target="_blank">GitHub</a>
        </p>
    </footer>
</div>